
 <!-- Default form login -->
<form class="text-center border border-light p-5" action="#!">

   <%= form_with url: sessions_path do |f| %>
        <p class="h4 mb-4">Connextion</p>
        <!-- E-mail -->
        <%= f.text_field :email, class:"form-control mb-4", placeholder:"Mail" %>
        <!-- Password -->
        <%= f.password_field :password, class:"form-control", placeholder:"Mot de passe" %>
        <!-- Sign up button -->
        <%= submit_tag "Ce connecter", class:"btn blue-gradient"%>  <a href="<%= gossip_index_path %>" class="btn peach-gradient">Annuler</a>
    <% end %>
