

<div class="container">
  <div class="text-center mt-5">
   <% if flash[:load] %>
        <div class="alert alert-success" role="alert">
          <strong>Nice !</strong> Ton user a été créé avec succès !
        </div>
      <% end %>
  <% if flash[:load] %>
    <div class="alert alert-success" role="alert">welcome <%current_user.first_name%></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">Post successfully created </div>
     <% elsif flash[:destroy] %>
     <div class="alert alert-primary" role="alert">Post successfully destroy</div>
  <% end %>
    <h1 class="text-dark py-5">Welcome to the Gossip-project </h1>
    <button type="button" class="btn btn-outline-primary mx-auto"><%= link_to  "Créer un potin", new_gossip_path %></button>
  <div class="d-flex mt-4">
    <h4 class="text-dark py-5 mx-auto">Voici la liste des potins postés</h4>
  </div>
  
    <div class="row justify-content-center">  
      <% if current_user.present? %>
    
      <% if @gossips %>
      <% @gossips.each do |gossip| %>
      <div class="col-md-5 col-sm-12 col-xs-12 card m-4">
        <!-- Card content -->
        <div class="card-body">
          <div class="text-right text-info mb-4">
             <p class="card-text"><%= gossip.user[:first_name] %></p>
          </div>
          <!-- Title -->
          
          <h4 class="card-title"><%= truncate(gossip.title, length: 50) %></h4>
          <!-- Text -->
          <p class="card-text"><%= truncate(gossip.content, length: 100) %></p>
          <!-- Button -->
          <%= link_to  "En lire plus", gossip_path(gossip.id) %>

        </div>
      </div>
      <% end %>
      
      <% else %>
        <p>Il n'y a pas de potin</p>
      <% end %>
      <% end %>

    </div>
  </div>
</div>

