<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>  
  <body>
  <header>

  </header>
<div class="container">
  <div class="text-center mt-5">
 
    <h1>Page d'accueil</h1>
      <p>Bienvenue <%= @gossip.user[:first_name]%> !
      <br/>
      <br/> 
      <div class="card">
        <div class="card-header">
         <h4 class="card-title"><%= @gossip.title %></h4>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>"<%= @gossip.content %>"</p>
            <footer class="blockquote-footer"><%= @gossip.user[:first_name] %> -<cite title="Source Title"> </br> from <%= @gossip.user.city.name %></cite></footer>
            <%= link_to "profile du createur",  user_path(@gossip.user.id), :class =>"btn btn-secondary" %>
          </blockquote>
        </div>
      </div>
  </body>
      <p><%= link_to "Retour !", gossip_index_path, :class =>"btn btn-outline-primary" %></p>
  </div>
  </div>

</html>

 
