<!DOCTYPE html>
<html>
  <head>
    <title>GossipRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,300&family=Roboto+Mono:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/25d75193a7.js" crossorigin="anonymous"></script>
  </head>

  <body class="container-fluid">
   <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark blue-gradient">

  <!-- Navbar brand -->
<a href="<%= gossip_index_path %>" class="navbar-brand"><i class="fab fa-gofore"></i>ossip Project</a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
         <%if current_user %>

      <li class="nav-item ">
      <%= link_to "Acceuil",gossip_index_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "Team",team_index_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to "Contact",contact_index_path, class:"nav-link" %>
      </li>
  </ul>
      
    <%= link_to "profile",  user_path(current_user.id), class:"btn blue-gradient" %>
    <%= link_to "Se déconnecter", session_path(session.id), method: :delete, class: "btn blue-gradient" %>
         <%else %>
         <li class="nav-item">
              <%= link_to "S'inscrire", new_user_path, class:"btn blue-gradient" %>
            </li>
            <li class="nav-item">
              <%= link_to "Se connecter", new_session_path, class:"btn blue-gradient" %>
            </li>
            <% end %>

</div>
<!--/.Navbar-->
    </nav>
    <%= yield %>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- Footer -->

<!-- Footer -->
  </body>
  <footer class="page-footer blue-gradient">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://www.jonathanbouillaux.ovh"> @Jonathan-Bouillaux / The Hacking Project</a>
  </div>
  <!-- Copyright -->

</footer>
</html>
